[PasswordStore]
; Path for the password-store repository
; defaults to $HOME.password-store
;pass-dir <pass-path>

[Outer Shape]
; By default the window is draw on the bottom of the screen
margin-left 100
margin-right 100
margin-bottom 100

[Inner Shape]
inner-margin 10
column-spacing 1
row-spacing 1
max-columns 6
row-height 35
;font italic bold 12px Georgia, serif

[Colors]
; All colors default to the GTK theme in use
; values should be hex color codes withouth the hashtag(#)
background-color cc241d

button-background-color cc241d
button-text-color 263238

; colors for directory buttons
;branch-background-color ff4000
;branch-text-color ff8000
;branch-text-shortcut-color ff0000
;branch-text-separator-color 00ff00
;branch-text-label-color 0000ff

; colors for password buttons
;leaf-background-color bfff00
;leaf-text-color ebdbb2
;leaf-text-shortcut-color 0000ff
;leaf-text-separator-color 00ff00
leaf-text-label-color ebdbb2
